@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@400;500;600;700&display=swap");

.right-box1 {
  width: 620px;
  height: 640px;
  /* border: 1px solid black; */
}

.started1 {
  margin-top: 32px;
}
.started1 h1 {
  font-family: Poppins;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
}
.started1 p {
  margin-top: 8px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
  color: #999999;
}

@media (max-width:660px) {
  
  .right-box1 {
    max-width: 460px;
    margin: auto;
  }
 
  .started1 p{
    text-align: left;
    margin-left: auto;
    margin-right: auto;
  }
  .started1 h1{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }


}