.line {
    margin: auto;
    margin-top: 80px;
    width: 196px;
    height: 6px;
    background-color: #ebebeb;
    border-radius: 15px;
  }
  
  #on {
    background-color: #3c97af;
  }
  .flex {
    gap: 5px;
    display: flex;
  }

  @media (max-width:660px){
    .flex {
      max-width: 460px;
    }
  }
  @media (max-width:460px){
    .flex {
      max-width: 380px;
    }
  }