@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


.user-mid-container {
    max-width: 616px;
  }
  .user-mid-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  
  .user-mid-box1 {
    width: 616px;
    height: 95px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 2px 8px 0px #21868E1F;
  
  }
  .user-mid-box2 {
      margin-top: 24px;
    width: 616px;
    height: 441px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 2px 8px 0px #21868E1F;
  
  }
  .user-mid-box3 {
      margin-top: 16px;
    width: 616px;
    height: 340px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 2px 8px 0px #21868E1F;
  
  }
  