.main-create1 {
  padding: 24px;
  width: 592px;
  height: 710px;
  background-color: #f8fbfc;
  box-shadow: 1px 2px 8px 0px #21868e40;
  border-radius: 24px;
  position: absolute;
  left: -52px;
  top: -20px;
  z-index: 10;
}
.overlay1 {
  z-index: 4;
  inset: 0;
  position: fixed;
  background: #00000033;
}

.felosoo-main1 {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.felosoo-main1 h1 {
  font-family: Nunito Sans;
  font-size: 32px;
  font-weight: 700;
  line-height: 43.65px;
  text-align: left;
}
.close-button-red {
  height: 44px;
  width: 44px;
  background-color: #ffe5e5;
  border: 1px solid #eb0000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.add-project {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: absolute;
  width: 592px;
  height: 56px;
  color: white;
  background-color: #3c97af;
  border: none;
  border-radius: 16px;
  top: 652px;
  font-family: Exo;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
}
.underr-stepper {
  margin-top: 40px;
}
.underr-stepper p {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.underr-stepper input {
  background-color: #f8fbfc;
  margin-top: 8px;
  padding: 13px 10px;
  width: 96%;
  border: 1px solid #bfbfbf;
  border-radius: 8px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.underr-stepper input:focus {
outline: none;
border: 1px solid #3c97af;
}
.underr-stepper input::placeholder {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: #d9d9d9;
}
.fondos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.fondos-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 50%;
  margin-top: 8px;
  border-radius: 8px;
  border: 1px solid #bfbfbf;
  background-color: white;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  color: #d9d9d9;
  cursor: pointer;
}
#m16 {
  margin-top: 16px;
}

.colorado {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 50%;
  margin-top: 8px;
  border-radius: 8px;
  border: 1px solid #bfbfbf;
  background-color: #3c97af;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  color: #ffffff;
  cursor: pointer;
}
.colorado:focus {
 outline: none;
}
.homies p {
  margin-top: 16px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
}


.vallo-on{
  border: 1px solid #3c97af !important;
}
.vallo{
  background-color: #f8fbfc;
  margin-top: 8px;
  padding: 13px 10px;
  width: 96%;
  border: 1px solid #bfbfbf;
  border-radius: 8px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.vallo::placeholder {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: #d9d9d9;
}
.vallo:focus{
  outline: none;
  border: 1px solid #3c97af;
}
